/* Foundation */

/* Search */
.search-box {
  margin-left: 25%;
  width: 60%;
  position: absolute;
  margin-top: 250px;
}

.query-input {
  display: inline-block;
  width: 80%;
  margin: 0 auto;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.query-search-button {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  border-width: 1px;
  display: inline-block;
  padding: 12px 24px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 4px;
}

/* Photos */
.photo-grid {
  overflow-y: hidden;
  height: 200px;
  white-space: nowrap;
  overflow-x: scroll;
}

.photo-box {
  width: 200px;
  height: 200px;
  margin: 2px;
  cursor: pointer;
  display: inline-block;
}

.grid-image {
  height: 100%;
  width: 100%;
}
